<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>webApi</servlet-name>
        <servlet-class>gestioneApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>webApi</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
</web-app>